### select rivers in hma

In [ ]:
import numpy as np
import geopandas as gpd

#### Select major rivers in hma from global rivers.

In [35]:
path_rivers_global = 'data/water-extent/rivers/global_major_rivers.gpkg'

#### Note:   
-- Yarlung Zangbo also know as Brahmaputra;   
-- Nu Jiang also know as Salween;   
-- Chang Jiang also know as Yangtze River.

In [8]:
### Check data
rivers_global = gpd.read_file(path_rivers_global)
print(rivers_global.shape)
rivers_global.head()

(98, 5)

,NAME,SYSTEM,MILES,KILOMETERS,geometry
0,Kolyma,None,2551.51838,4106.27900,"MULTILINESTRING ((144.84189 61.75915, 144.8257..."
1,Parana,Parana,1616.20622,2601.03698,"MULTILINESTRING ((-51.0064 -20.07941, -51.0297..."
2,San Francisco,None,1493.57095,2403.67425,"MULTILINESTRING ((-46.43639 -20.25807, -46.498..."
3,Japura,Amazon,1222.80771,1967.92219,"MULTILINESTRING ((-76.71056 1.62417, -76.70029..."
4,Putumayo,Amazon,889.91926,1432.18908,"MULTILINESTRING ((-76.86806 1.30055, -76.86695..."

In [31]:
np.where(rivers_global.NAME=='Ganges')[0].item()

56

In [33]:
### Rivers in hma
rivers_hma = ['Indus', 'Ganges', 'Yarlung Zangbo', 'Mekong', 'Irrawaddy', 'Huang He', \
              'Syr Darya', 'Amu Darya', 'Chang Jiang', 'Xi Jiang', 'Nu Jiang']
ids = [np.where(rivers_global.NAME==name)[0].item() for name in rivers_hma]
rivers_hma = rivers_global.loc[ids]
print(rivers_hma.shape)
rivers_hma.head()

(11, 5)

,NAME,SYSTEM,MILES,KILOMETERS,geometry
57,Indus,None,2015.16218,3243.09564,"MULTILINESTRING ((67.48645 24.04542, 67.65091 ..."
56,Ganges,None,1481.59615,2384.40264,"MULTILINESTRING ((79.87328 30.95868, 79.81163 ..."
55,Yarlung Zangbo,None,1897.09807,3053.08950,"MULTILINESTRING ((82.00998 30.48415, 82.24191 ..."
62,Mekong,None,2942.45095,4735.42525,"MULTILINESTRING ((93.88553 33.26776, 93.88915 ..."
61,Irrawaddy,None,1297.67231,2088.40532,"MULTILINESTRING ((94.98852 16.23617, 95.12437 ..."

In [ ]:
# ### Write out
# rivers_hma.to_file('data/water-extent/rivers/hma_major_rivers.gpkg', driver='GPKG')