### hma basins selection

In [1]:
import geopandas as gpd

In [2]:
path_asia_basins_lehner2013_l3 = 'data/hma-extent/basins/asia_Lehner2013_levels/hybas_as_lev03_v1c.gpkg'  ### HydroSHEDS dataset
path_asia_basins_lehner2013_l4 = 'data/hma-extent/basins/asia_Lehner2013_levels/hybas_as_lev04_v1c.gpkg'  ### HydroSHEDS dataset
path_asia_basins_lehner2013_l5 = 'data/hma-extent/basins/asia_Lehner2013_levels/hybas_as_lev05_v1c.gpkg'  ### HydroSHEDS dataset
path_hma_gtng = 'data/hma-extent/HMA/hma_gtng_202307_subregions.gpkg'

In [3]:
hma_gtng = gpd.read_file(path_hma_gtng)
hma_gtng_merged = hma_gtng.dissolve()
asia_basins_lehner2013_l3 = gpd.read_file(path_asia_basins_lehner2013_l3)
asia_basins_lehner2013_l4 = gpd.read_file(path_asia_basins_lehner2013_l4)
asia_basins_lehner2013_l5 = gpd.read_file(path_asia_basins_lehner2013_l5)
asia_basins_lehner2013_l3.head(2)

,HYBAS_ID,NEXT_DOWN,NEXT_SINK,MAIN_BAS,DIST_SINK,DIST_MAIN,SUB_AREA,UP_AREA,PFAF_ID,ENDO,COAST,ORDER,SORT,geometry
0,4030000010,0,4030000010,4030000010,0.0,0.0,105274.5,105274.5,421,0,1,0,1,"MULTIPOLYGON (((138.20694 54.69583, 138.20201 ..."
1,4030000880,0,4030000880,4030000880,0.0,0.0,2238972.5,2238972.5,422,0,0,1,2,"MULTIPOLYGON (((115.33333 43.95, 115.33333 43...."

In [4]:
hma_basins_lehner2013_l3 = asia_basins_lehner2013_l3[asia_basins_lehner2013_l3.intersects(hma_gtng.union_all())]
hma_basins_lehner2013_l4 = asia_basins_lehner2013_l4[asia_basins_lehner2013_l4.intersects(hma_gtng.union_all())]
hma_basins_lehner2013_l5 = asia_basins_lehner2013_l5[asia_basins_lehner2013_l5.intersects(hma_gtng.union_all())]

In [ ]:
hma_basins_lehner2013_l3.to_file('data/hma-extent/basins/hma_Lehner2013_levels/hma_hybas_as_lev03_v1c.gpkg', driver='GPKG')
hma_basins_lehner2013_l4.to_file('data/hma-extent/basins/hma_Lehner2013_levels/hma_hybas_as_lev04_v1c.gpkg', driver='GPKG')
hma_basins_lehner2013_l5.to_file('data/hma-extent/basins/hma_Lehner2013_levels/hma_hybas_as_lev05_v1c.gpkg', driver='GPKG')